@model NoticeBoardModel
@{
    Layout = null;

    //page class
    Html.AppendPageCssClassParts("html-product-details-page");
}

<div class="page product-details-page" id="modal-thank-you">   
        <div class="product-essential">
                @Html.Raw(Model.ThankYou)
        </div>
</div>
