@model CreateNoticeBoardModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <div class="float-left">
                        @await Component.InvokeAsync("SettingMode", new { modeName = "notice-board-mode" })
                    </div>
                </div>
            </div>

            <div class="cards-group">

                <div class="card card-default">
                    <div class="card-body">


                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Title" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Title" asp-required="true" />
                                <span asp-validation-for="Title"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Notice" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Notice" asp-template="RichEditor" asp-required="true" />
                                <span asp-validation-for="Notice"></span>
                            </div>
                        </div>

                        <div class="form-group row vendor-location-setting">
                            <div class="col-md-3">
                                <nop-label asp-for="ManufacturerId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="ManufacturerId" asp-items="Model.Manufacturers" asp-required="true" />
                                <span asp-validation-for="ManufacturerId"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="SelectedProductIds" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="SelectedProductIds" asp-items="Model.Products" asp-required="true" asp-multiple="true" />
                                <script asp-location="Footer">
                                    $(document).ready(function () {
                                        var categoryIdsInput = $('#@Html.IdFor(model => model.SelectedProductIds)').data("kendoMultiSelect");


                                        categoryIdsInput._enable();
                                        categoryIdsInput.setOptions({
                                            autoClose: false,
                                            filter: "contains",
                                            //dataTextField: "Product",
                                            //dataValueField: "ProductId",
                                        });

			                    	@if (Model.Products.ToList().Count() == 0)
                                      {
                                       <text>
                                        categoryIdsInput.setOptions({
                                            enable: false,
                                            placeholder: 'products',
                                            filter: "contains",

                                        });
                                        categoryIdsInput._placeholder();
                                        categoryIdsInput._enable();
                                         </text>
                                    }
                                      $('#@Html.IdFor(model => model.ManufacturerId)').on("change", function (e) {
                                          e.preventDefault(); // avoid to execute the actual submit of the form.

                                        $.ajax({
                                            type: "GET",
                                            url: "@Url.Action("ManufacturerFeaturedProducts", "NoticeBoard", new { Area = "Admin" })",
                                            data: { manufacturerId:$('#@Html.IdFor(model => model.ManufacturerId)').val()}, // serializes the form's elements.
                                            success: function (data) {

                                                var multiselect = $('#@Html.IdFor(model => model.SelectedProductIds)').data("kendoMultiSelect");
                                                multiselect.setOptions({
                                                    autoClose: false,
                                                    filter: "contains",
                                                    dataTextField: "Product",
                                                    dataValueField: "ProductId",
                                                });
                                                var product = $('#@Html.IdFor(model => model.SelectedProductIds)').getKendoMultiSelect();
                                                var dataSource = product.dataSource;
                                                dataSource.data([]);

                                                $.each(data, function (key, result) {

                                                    dataSource.add({
                                                        ProductId: result.Value,
                                                        Product: result.Text
                                                    });
                                                    dataSource.sync();
                                                    multiselect.enable(true);
                                                });
                                            },

                                            error: function (error) {

                                            }
                                        });
                                    });
                                    });


                                </script>
                                <span asp-validation-for="SelectedProductIds"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="InURL" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="InURL" asp-required="true" />
                                <span asp-validation-for="InURL"></span>
                            </div>
                        </div>

                        <div class="form-group row form-type-popup">
                            <div class="col-md-3">
                                <nop-label asp-for="FormPopUpType" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="FormPopUpType" asp-items="Model.FormPopUpTypes" asp-required="true" />
                                <span asp-validation-for="FormPopUpType"></span>
                            </div>
                            <script asp-location="Footer">

                                $(document).ready(function () {
                                    $("#related-page-url").hide();
                                    if ($("#FormPopUpType").val() == "2") {
                                        $("#related-page-url").show();
                                    }
                                    
                                    // Attach a change event handler to the dropdown
                                    $("#FormPopUpType").change(function () {
                                        var selectedValue = $(this).val();
                                        console.log(selectedValue);
                                        if (selectedValue === "1") {
                                            // Value 1 is selected, hide the second div
                                            $("#related-page-url").hide();
                                        } else {
                                            // Value other than 1 is selected, show the second div
                                            $("#related-page-url").show();
                                        }
                                });
                                });

                            </script>
                        </div>
                        <div class="form-group row" id="related-page-url">
                            <div class="col-md-3">
                                <nop-label asp-for="RelatedPageURL" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="RelatedPageURL" />
                                <span asp-validation-for="RelatedPageURL"></span>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="DisplayPopUpInSamePage" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="DisplayPopUpInSamePage" />
                                <span asp-validation-for="DisplayPopUpInSamePage"></span>
                            </div>
                            <script asp-location="Footer">
                                if ($("#DisplayPopUpInSamePage").is(":checked"))
                                    $("#timer-field").show();
                                    else
                                    $("#timer-field").hide();
                                    // Attach a click event handler to the checkbox
                                    $("#DisplayPopUpInSamePage").click(function () {
                                        if ($(this).is(":checked")) {
                                            // Checkbox is checked, show the second div
                                            $("#timer-field").show();
                                          
                                        } else {
                                            // Checkbox is unchecked, hide the second div
                                            $("#timer-field").hide();
                                            $("#Timer").val("");

                                        }
                                    });
                             


                            </script>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="OpenFormInPopUp" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="OpenFormInPopUp" />
                                <span asp-validation-for="OpenFormInPopUp"></span>
                            </div>
                            <script asp-location="Footer">
                                $(document).ready(function () {
                                    $("#field-redirect-url").show();
                                    $("#field-ButtonDisplayText").show();
                                    // Attach a click event handler to the checkbox
                                    $("#OpenFormInPopUp").click(function () {
                                        if ($(this).is(":checked")) {
                                            // Checkbox is checked, show the second div
                                            $("#field-redirect-url").hide();
                                            $("#RedirectionURL").val("");
                                            $("#field-ButtonDisplayText").hide();
                                        } else {
                                            // Checkbox is unchecked, hide the second div
                                            $("#field-redirect-url").show();
                                            $("#field-ButtonDisplayText").show();

                                        }
                                    });
                                });


                            </script>
                        </div>

                        <div class="form-group row" id="field-redirect-url">
                            <div class="col-md-3">
                                <nop-label asp-for="RedirectionURL" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="RedirectionURL" asp-required="true" />
                                <span asp-validation-for="RedirectionURL"></span>
                            </div>
                        </div>
                        <div class="form-group row" id="field-ButtonDisplayText">
                            <div class="col-md-3">
                                <nop-label asp-for="ButtonDisplayText" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ButtonDisplayText" asp-required="true" />
                                <span asp-validation-for="ButtonDisplayText"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="PublishedFrom" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PublishedFrom" asp-required="true" />

                                <span asp-validation-for="PublishedFrom"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="PublishedTo" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PublishedTo" asp-required="true" />
                                <span asp-validation-for="PublishedTo"></span>
                            </div>
                        </div>


                        <div class="form-group row" id="timer-field">
                            <div class="col-md-3">
                                <nop-label asp-for="Timer" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Timer" asp-required="true" />
                                <span asp-validation-for="Timer"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Name" asp-input="Name" />
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Name" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="PhoneNumber" asp-input="PhoneNumber" />
                                <nop-label asp-for="PhoneNumber" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PhoneNumber" />
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="EmailAddress" asp-input="EmailAddress" />
                                <nop-label asp-for="EmailAddress" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="EmailAddress" />
                                <span asp-validation-for="EmailAddress"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Age" asp-input="Age" />
                                <nop-label asp-for="Age" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Age" />
                                <span asp-validation-for="Age"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Address" asp-input="Address" />
                                <nop-label asp-for="Address" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Address" />
                                <span asp-validation-for="Address"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="City" asp-input="City" />
                                <nop-label asp-for="City" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="City" />
                                <span asp-validation-for="City"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="BikeName" asp-input="BikeName" />
                                <nop-label asp-for="BikeName" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="BikeName" />
                                <span asp-validation-for="BikeName"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="CC" asp-input="CC" />
                                <nop-label asp-for="CC" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="CC" />
                                <span asp-validation-for="CC"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

</section>
