@model CreateNoticeBoardModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.NoticeBoard.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("NoticeBoard");
}

<form asp-controller="NoticeBoard" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NoticeBoard.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.NoticeBoard.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
           
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>