@model ParticipantsCreateModel
@{
    Layout = "";
    Guid formGuid = Guid.NewGuid();

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

<div class="page-body">
    <div id="resgister-participants-form-@formGuid">
        <form asp-controller="Participants" asp-action="RegisterParticipant" asp-area="" method="post" autocomplete="off" id="register-participants-form-submit-@formGuid">

            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="title">
                    <strong>@T("Account.YourPersonalDetails")</strong>
                </div>
                <div class="form-fields">

                    <input asp-for="Module" type="hidden" />
                    <input asp-for="ManufacturerId" type="hidden" />

                    <div class="inputs">
                        <label asp-for="Name" asp-postfix=":"></label>
                        <input asp-for="Name" required="true" />

                        <nop-required />

                        <span asp-validation-for="Name"></span>
                    </div>

                    <div class="inputs">
                        <label asp-for="Age" asp-postfix=":"></label>
                        <input asp-for="Age" type="text" required="true" />

                        <nop-required />

                        <span asp-validation-for="Age"></span>
                    </div>


                    <div class="inputs">
                        <label asp-for="EmailAddress" asp-postfix=":"></label>
                        <input asp-for="EmailAddress" required="true" />
                        <nop-required />
                        <span asp-validation-for="EmailAddress"></span>
                    </div>



                    <div class="inputs">
                        <label asp-for="PhoneNumber" asp-postfix=":"></label>
                        <input asp-for="PhoneNumber" required="true" />

                        <nop-required />

                        <span asp-validation-for="PhoneNumber"></span>
                    </div>


                    <div class="inputs">
                        <label asp-for="Address" asp-postfix=":"></label>
                        <input asp-for="Address" required="true" />

                        <nop-required />

                        <span asp-validation-for="Address"></span>
                    </div>



                    <div class="inputs">
                        <label asp-for="City" asp-postfix=":"></label>
                        <input asp-for="City" required="true" />

                        <nop-required />

                        <span asp-validation-for="City"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="Products" asp-postfix=":"></label>
                        <nop-select asp-for="ProductId" asp-items="Model.Products" asp-required="true"  />
                        <span asp-validation-for="ProductId"></span>
                    </div>

                </div>
                <div class="buttons">
                    <button type="button" name="register-button" id="@formGuid"  class="button-register-participants" style=" padding: 15px 35px;
        border: none;
        background: #f3cc2e;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #323232;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;">
                        @T("Account.Register.Button")
                    </button>
                </div>
            </div>
        </form>

        <div id="thank-you-page-load-@formGuid" style="display:none">
            Thank you for registering with us!
        </div>
    </div>

</div>



