################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Pp]lugins/
[Pp]lugin/
.vs16/*
.vs/NopCommerce/v16/.suo
*.dll


*.dll
*.pdb
Presentation/Nop.Web/Plugins/Tax.Avalara/Nop.Plugin.Tax.Avalara.dll
Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/Nop.Plugin.Payments.PayPalCommerce.dll
Presentation/Nop.Web/Plugins/Shipping.ShipStation/Nop.Plugin.Shipping.ShipStation.dll
Presentation/Nop.Web/Plugins/Tax.Avalara/Nop.Plugin.Tax.Avalara.pdb
Presentation/Nop.Web/Plugins/Widgets.FacebookPixel/Nop.Plugin.Widgets.FacebookPixel.pdb
Presentation/Nop.Web/App_Data/dataSettings.json
.vs/NopCommerce/v16/.suo
.vs/NopCommerce/DesignTimeBuild/.dtbcache.v2
.vs/NopCommerce/config/applicationhost.config
*.v2
.vs/NopCommerce/FileContentIndex/3545d08d-51ef-4c9a-b7ab-fdab5c95bfe8.vsidx
.vs/NopCommerce/FileContentIndex/6354f775-debd-4580-9053-7493a649d093.vsidx
.vs/NopCommerce/DesignTimeBuild/.dtbcache.v2
.vs/NopCommerce/v16/.suo
*.v2

Presentation/Nop.Web/App_Data/DataProtectionKeys/key-fe2060e4-f695-4b88-8107-e37794c9f41e.xml
/.vs/NopCommerce/FileContentIndex
