################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Pp]lugins/
[Pp]lugin/
**/.vs16/*

*.dll
Presentation/Nop.Web/App_Data/dataSettings.json
*.pdb
Presentation/Nop.Web/Plugins/Tax.Avalara/Nop.Plugin.Tax.Avalara.dll
Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/Nop.Plugin.Payments.PayPalCommerce.dll
Presentation/Nop.Web/Plugins/Shipping.ShipStation/Nop.Plugin.Shipping.ShipStation.dll
Presentation/Nop.Web/Plugins/Tax.Avalara/Nop.Plugin.Tax.Avalara.pdb
Presentation/Nop.Web/Plugins/Widgets.FacebookPixel/Nop.Plugin.Widgets.FacebookPixel.pdb
Presentation/Nop.Web/App_Data/dataSettings.json
.vs/NopCommerce/v16/.suo
.vs/NopCommerce/DesignTimeBuild/.dtbcache.v2
.vs/NopCommerce/config/applicationhost.config
**/Plugins/*
