################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tests/Nop.Tests
/Presentation/Nop.Web/obj
/Presentation/Nop.Web.Framework/bin/Debug/net5.0
/Presentation/Nop.Web.Framework/obj/Debug/net5.0
/Presentation/Nop.Web.Framework/obj
/Libraries/Nop.Core/bin/Debug/net5.0
/Libraries/Nop.Core/obj/Debug/net5.0/ref
/Libraries/Nop.Core/obj/Debug/net5.0
/Libraries/Nop.Core/obj
/Libraries/Nop.Data/bin/Debug/net5.0
/Libraries/Nop.Data/obj/Debug/net5.0/ref
/Libraries/Nop.Data/obj/Debug/net5.0
/Libraries/Nop.Data/obj
/Libraries/Nop.Services/bin/Debug/net5.0/ref
/Libraries/Nop.Services/bin/Debug/net5.0/refs
/Libraries/Nop.Services/bin/Debug/net5.0
/Libraries/Nop.Services/obj/Debug/net5.0/ref
/Libraries/Nop.Services/obj/Debug/net5.0
/Libraries/Nop.Services/obj
/Presentation/Nop.Web/bin/Debug/net5.0/af
/Presentation/Nop.Web/bin/Debug/net5.0/ar
/Presentation/Nop.Web/bin/Debug/net5.0/az
/Presentation/Nop.Web/bin/Debug/net5.0/bg
/Presentation/Nop.Web/bin/Debug/net5.0/bn-BD
/Presentation/Nop.Web/bin/Debug/net5.0/cs
/Presentation/Nop.Web/bin/Debug/net5.0/da
/Presentation/Nop.Web/bin/Debug/net5.0/de
/Presentation/Nop.Web/bin/Debug/net5.0/de-DE
/Presentation/Nop.Web/bin/Debug/net5.0/el
/Presentation/Nop.Web/bin/Debug/net5.0/es
/Presentation/Nop.Web/bin/Debug/net5.0/fa
/Presentation/Nop.Web/bin/Debug/net5.0/fi-FI
/Presentation/Nop.Web/bin/Debug/net5.0/fr
/Presentation/Nop.Web/bin/Debug/net5.0/he
/Presentation/Nop.Web/bin/Debug/net5.0/fr-BE
/Presentation/Nop.Web/bin/Debug/net5.0
/Plugins/Nop.Plugin.Calculator.EMI/obj/Debug/net5.0
/Plugins/Nop.Plugin.Calculator.EMI/obj
/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/net5.0
/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj
/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/Debug/net5.0
/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj
/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/Debug/net5.0
/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj
/Plugins/Nop.Plugin.Misc.Sendinblue/obj/Debug/net5.0
/Plugins/Nop.Plugin.Misc.Sendinblue/obj
/Plugins/Nop.Plugin.MultiFactorAuth.GoogleAuthenticator/obj/Debug/net5.0
/Plugins/Nop.Plugin.MultiFactorAuth.GoogleAuthenticator/obj
/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/Debug/net5.0
/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj
/Plugins/Nop.Plugin.Payments.Manual/obj/Debug/net5.0
/Plugins/Nop.Plugin.Payments.Manual/obj
/Plugins/Nop.Plugin.Payments.PayPalCommerce/obj/Debug/net5.0
/Plugins/Nop.Plugin.Payments.PayPalCommerce/obj
/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/Debug/net5.0
/Plugins/Nop.Plugin.Payments.PayPalStandard/obj
/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/Debug/net5.0
/Plugins/Nop.Plugin.Pickup.PickupInStore/obj
/Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/obj/Debug/net5.0
/Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/obj
/Plugins/Nop.Plugin.Shipping.ShipStation/obj/Debug/net5.0
/Plugins/Nop.Plugin.Shipping.ShipStation/obj
/Plugins/Nop.Plugin.Shipping.UPS/obj/Debug/net5.0
/Plugins/Nop.Plugin.Shipping.UPS/obj
/Plugins/Nop.Plugin.Tax.Avalara/obj
/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj
/Plugins/Nop.Plugin.Widgets.AccessiBe/obj
/Plugins/Nop.Plugin.Widgets.FacebookPixel/obj
/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj
/Plugins/Nop.Plugin.Widgets.NivoSlider/obj
/Libraries/Nop.Core/bin/Release/net5.0
/Libraries/Nop.Data/bin/Release/net5.0
/Libraries/Nop.Services/bin/Release/net5.0
/Presentation/Nop.Web/bin/Release/net5.0
/Presentation/Nop.Web/Plugins/bin
/Presentation/Nop.Web.Framework/bin/Release/net5.0
/Presentation/Nop.Web/Properties/PublishProfiles
ref
/Libraries/Nop.Services/bin/Release/net5.0
/Libraries/Nop.Services/bin/Release
bin
bin
/Presentation/Nop.Web/Plugins/bin
/Presentation/Nop.Web/Properties/PublishProfiles
/Presentation/Nop.Web/App_Data/dataSettings.json
/Libraries/Nop.Data/Nop.Data.csproj.user
/Presentation/Nop.Web/wwwroot/images/thumbs/0000097_honda-grazia-bsvi_70.png
/Presentation/Nop.Web/wwwroot/images/thumbs/0000103_honda-aviator_70.png
/Presentation/Nop.Web/wwwroot/images/thumbs/0000366_re_200.jpeg
/Presentation/Nop.Web/wwwroot/images/thumbs/0000369_hy_200.jpeg
/Presentation/Nop.Web/wwwroot/images/thumbs/0000370_mt15_200.jpeg
/Presentation/Nop.Web/wwwroot/images/thumbs/0000371_hd_200.jpeg
/Presentation/Nop.Web/wwwroot/images/thumbs/0000372_ns_200.jpeg
